@charset "UTF-8";

html {
    font-size: 16px;
}
html, body {
    height: 100%;
}
body *, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #000;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}
@media (min-width: 768px) {
    .container {
        margin: 0 auto;

    }

}
header {
    background-color: black;
    border-bottom: white 10px solid;
}
header .container {
    min-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 76px;
    background-image: url(fabicon/daigakujukennomori.jpg);
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 16px 10px;
}
@media (min-width: 768px) {
    header .container {
        min-height: 100px;
        padding-left: 120px;
        background-size: 80px;

    }
}
header .container h1,
header .container h2 {
    margin: 0;
    color: #fff;
    line-height: 1;
}
header .container h1 {
    padding: 10px 0 4px 0;
    border-bottom: 1px dotted #fff;
    font-size: 24px;
    font-weight: 500;
}
header .container h2 {
    padding: 4px 0 0 0;
    font-size: 12px;
    font-weight: 400;
}
@media (min-width: 768px) {
    header .container h1 {
        padding: 18px 0 5px 0;
        font-size: 36px;
    }
    header .container h2 {
        padding: 8px 0 0 0;
        font-size: 18px;
    }
}
main {
    min-height: calc(100% - 156px);
}
main .container {
    margin: 0 auto;
    background-color: #fff;
}
.foot-wrap .menu-left, .menu-center, .menu-right {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 50px auto;
}
.foot-wrap ul {
    list-style: none;
    padding: 0;
    line-height:40px;
}
.foot-wrap {
    background-color: #333;
    color: #fff;
    text-align: center;
}
.foot-wrap h3 {
    border-bottom: 3px solid #2ac5b3;
    padding: 10px;
}
.foot-wrap a {
    text-decoration: none;
    color: #fff;
}
.foot-wrap a:hover {
    color: deeppink;
}
.foot-wrap .cmark {
    color:white;
    display: block;
    padding: 10px;
    border-top: 1px solid gray;
    width: 80%;
    margin: 0 auto;

}

@media screen and (max-width: 766px) {
    .foot-wrap .menu-left, .menu-center, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .foot-wrap .cpr {
        display: inline;
    }
}
a {
    color: blue;
    text-decoration: none;
}

.text_q{
    font-size:60px;
    padding-bottom: 10px;
}
.text_s{
    font-size:60px;
    padding-bottom: 10px;

}
.btn-square-so-pop{
    position: relative;
    display: block;
    display: list-item;
    margin: 10px;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: 500;
    border: solid 2px #d27d00;/*線色*/
    list-style: none;
  }
  .btn-square-so-pop a{
      color:white;

  }
  .btn-square-so-pop:active {
    /*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  @media screen and (min-width: 500px){
    .btn-square-so-pop{
        margin-left: auto;
        margin-right: auto;
        width:300px;
    }
  }
table{
    margin-left: auto;
    margin-right: auto;
}
.text_a{
    font-size:60px;
}
.sosyal {
    margin: 50px auto;
  }
  .facebook {
    background-color: #2e4a88;
    box-shadow: 0 4px 0 #1B3D82;
    text-shadow: 0 -1px -1px #1B3D82;

    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
  }
  .facebook:hover {
    background-color: #354F84;
  }
  .facebook:active {
    top: 2px;
      box-shadow: 0 2px 0 #1B3D82;
  }
  .twitter {
    background-color: #008DDE;
    box-shadow: 0 4px 0 #0078BD;

    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
  }
  .twitter:active {
    top: 2px;
      box-shadow: 0 2px 0 #0078BD;
  }
  .twitter:hover {
    background-color: #1397D8;
  }
  .google {
    background-color: #CC3622;
    box-shadow: 0 4px 0 #BA2714;

    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
  }
  .google:active {
    top: 2px;
      box-shadow: 0 2px 0 #BA2714;
  }
  .google:hover {
    background-color: #D04829;
  }
  @media (max-width: 768px) {
   .facebook{
       display: none;
   }
}



.slick01 slick-slider{
    margin-left: auto;
    margin-right: auto;
}
.btn-5 {
    background-color:black; /* ボタン背景色 */
    color:white; /* ボタン文字色 */
    box-shadow: lightslategray; /* ボタン陰色 */
    font-weight: 400;
    border-radius: 4px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    line-height: 1.4;
    transition: all .2s ease;
}

.btn-5:hover {
    opacity: 0.8;
}

.btn-5 a {
    text-decoration: none !important;
    color: white
     !important;
    display: block;
    margin: 0;
    padding: 0.5em;
    position: relative;
    overflow: hidden;

}

.btn-5 a::before {
    display: block;
    position: absolute;
    z-index: 1;
    left: -100%;
    top: -50vh;
    content: '';
    width: 3rem;

    height: 100vh;
    transform: rotate(5deg);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    animation: highLight 3s ease-in-out 0s infinite;
}

@keyframes highLight {
    from { left: -5%; }
    15%, 100% { left: 105%; }
}

.btn-5 > img { float: left; }
.btn-5::after{ content: ''; clear: left; }
.all{
    display: block;
}
.box30 {
    margin: 2em 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    max-width: 420px;
    min-height:300px;
}
.box30 .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box30 p {
    padding: 8px 0px;
    margin: 0;
}
.box29 {
    margin: 2em 0;
    margin-left: auto;
    margin-right: auto;
    background: #dcefff;
    max-width: 420px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box29 .box-title {
    font-size: 1.2em;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box29 p {
    padding: 15px 20px;
    margin: 0;
}

/* 黒板風　1 */
.kokuban-s1 {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    width: 300px; /* ボックス幅 */
    background: #202020; /* ボックス背景色 */
    color: #fff; /* 文章色 */
    border: 7px solid #b2771f; /* 枠線 */
    border-radius: 3px; /* 角の丸み */
    box-shadow: 0 0 5px #333;
   }
    @media screen and (min-width: 500px){
        .kokuban-s1{
            width: 400px;
        }
    }
   .kokuban-s1::before,
   .kokuban-s1::after {
    position: absolute;
    content: '';
    bottom: 0;
   }
   .kokuban-s1::before {
    width: 20px;
    right: 10px;
    border: solid 3px #ff42a0; /*チョーク（ピンク） */
    border-radius: 3px 2px 0 2px;
   }
   .kokuban-s1::after {
    width: 15px;
    right: 45px;
    border: solid 3px #fff; /*チョーク（白） */
    border-radius: 8px 5px 2px 5px;
   }

#text_s {
  padding-bottom: 15px;
}

.kekka table {
  margin: 0 auto;
  width: 90%;
}

.kekka table th {
  background: brown;
  color: #fff;
}
.advice {
    position: relative;
    margin: 2em 0;
    padding: 34px 10px 7px;
    border: solid 2px #FFC107;
    background-color: lightyellow;
}
.advice .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}
.advice p {
    margin: 0; 
    padding: 0;
}
.archivesecond{
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

  
  .box {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .text {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
  }
  .text h3 {
    padding: 1rem 3rem;
    color: #fff;
    font-weight: 250;
    border-radius: 100vh;
    background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
    background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
    background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
  }
.text p{
    font-size: 24px;
}
  
  
  .pict {

    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .pict img {
    padding-top: 40px;
    width: 100%;
    height:auto;
  }
  

  @media(max-width:1200px){
    .pict {
        width: 40%;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
      }
      
      .pict img {
        width: 100%;
        height:auto;
      }
      .text p{
        font-size: 20px;
    }
  }
  @media(max-width:800px){
    .pict {
        width: 40%;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
      }
      
      .pict img {
        width: 100%;
        height:auto;
      }
      .text p{
        font-size: 16px;
    }
  }
  @media(max-width:600px){
    .box {
        display: block;
        margin-bottom: 40px;
      }
      
      .text {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
      }
      .text h3 {
        padding: 1rem 3rem;
        color: #fff;
        font-weight: 250;
        border-radius: 100vh;
        background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
        background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
        background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
      }
    .text p{
        font-size: 16px;
    }
      
      
      .pict {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      
      .pict img {
        width: 100%;
        height:auto;
      }
      
      .box:nth-child(even) {
        flex-direction: row-reverse;
      }
      .box:nth-child(even) .text {
        text-align: right;
      }
      .box:nth-child(even) .pict {
        margin-left: auto;
        margin-right: auto;
      }
  }
@charset "UTF-8";

/* ===== style.cssの上書き ===== */
.container {
    max-width: 100%;
}
img {
    max-width: 100%;
    min-width: 100%;
}



/* メインコンテンツ */
main .container {
    padding: 0;
}
.key {
    width: 100%;
    min-width: 100%;
}
.content {
    padding: 0 30px;
    text-align: center;
    
}
.archive {
    margin: 10px 0 0;
    padding: 0 10px;

}
.archive-box {
    margin: 0 auto;
    width: 308px;
}
.archive-box img{
    padding: 11px;
    background-color: lightseagreen;
    box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
}
@media(min-width: 768px) {
    .archive-box {
    width: 740px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr  ;
    margin-bottom: 24px;
    }
    .archive-box img{
        min-width: 360px;
    }

}
@media(min-width: 1024px){
    .archive-box  {
    width: 1000px;
    }
    .archive-box img{
        min-width: 440px;
    }
}

.archive h3 {
    border-top: 1px dashed #809BA6;
    border-bottom: 1px dashed #809BA6;
    padding: 0.5rem 0;
    text-align: center;
}
.archive figure {
    margin: 0 0 2em 0;
    padding: 0;
    max-width: 320px;
}
.archive figcaption {
    text-align: center;
}
.thumb {
    max-width: 320px
}
.ibent{
    padding-top:8px;
    text-align: center;

}
.ibent img{
    min-width: 400px;
    box-shadow: 10px 10px 15px -10px;
}
@media(max-width: 700px){
    .ibent{
        padding-top:8px;
        text-align: center;
    
    }
    .ibent img{
        min-width: 300px;
        box-shadow: 10px 10px 15px -10px;
    }
}
